<ul>
  <li class="{% if page.url contains '/news/' %}current{% endif %}">
    <a href="/news/">News</a>
  </li>
  <li class="{% if page.url contains '/download/' %}current{% endif %}">
    <a href="/download/">Download</a>
  </li>
  <li class="{% if page.url contains '/docs/' %}current{% endif %}">
    <a href="/docs/home/">Docs</a>
  </li>
  <li class="{% if page.url contains '/community/' %}current{% endif %}">
    <a href="/community/">Community</a>
  </li>
  <li>
    <a href="{{ site.repository }}"><span class="hide-on-mobiles">View on </span>GitHub</a>
  </li>
</ul>
